.antique-section-search-btn {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 4px !important;
    margin-right: 0 !important;
    border-radius: 0 !important;
    font-size: 14px !important;
}

@media only screen and (max-width: 768px) {
    font-size: 12px !important;
}

.antique-section-search-inp {
    padding-left: 24px !important;
    padding-right: 24px !important;
    margin: 0 !important;
    border-radius: 0 !important;
}