.antique-section-search-heading-wrap {
    border: var(--antique-section-search--heading--border);
    background-color: var(--antique-section-search--heading--bg-color);
    color: var(--antique-section-search--heading--font-color);
}

.antique-section-search-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
}

.antique-section-search-btn {
    display: inline-block;
    height: 100%;
    width: 82px;
    margin: 0px;
    margin-left: 4px;
    border: var(--antique-section-search--content--border);
    background-color: var(--antique-section-search--content--bg-color);
    color: var(--antique-section-search--content--font-color);
    border-radius: 0;
    font-weight: 300;
    cursor: pointer;
}

.antique-section-search-inp {
    display: inline-block;
    height: 100%;
    width: calc(100% - 86px);
    padding-left: 19px;
    padding-right: 19px;
    border: 1px solid #bfbfbf;
    border-radius: 0;
    color: black;
    font-weight: 300;
}

.antique-section-search-inp::placeholder {
    color: black;
}

.antique-section-search-inp:focus {
    outline: 2px solid transparent;
    border: 1px solid #2271b1;
}

.antique-section-search-inp:focus::placeholder {
    color: #bfbfbf;
}

.antique-section-search-error-msg {
    width: 100%;
    margin-top: 4px;
    background-color: #ffa198;
}

.antique-section-search-error-msg .invalid-msg,
.antique-section-search-error-msg .not-found-msg {
    display: none;
    padding: 10px 24px;
    font-weight: 300;
}